:root {
  --hue: 176;
  --header-height: 60px;
  --container-color: #211730;
  --z-fixed: 100;
  --title-color: hsl(228, 8%, 95%);
  --font-medium: 400;
  --first-color: #36d1c4;
  --text-colour: hsl(228 8%, 65%);
  --body-color: #211730;
  --body2-color: #5b526b;
  --bigger-font-size: 25px;
  --biggest-font-size: 37px;
  --font-semi-bold: 500;
  --normal-font-size: 18px;
  --z-tooltip: 10;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#container {
  min-height: 100%;
  position: relative;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
input,
textarea,
button {
  outline: none;
  border: none;
}

input,
textarea,
button {
  font-size: var(--normal-font-size);
}

input,
textarea {
  color: var(--title-color);
}
.home_subtitle,
.section_title,
.section_subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.main {
  overflow: hidden;
  padding: 10px;
  padding-bottom: 60px;
}
.container {
  margin: auto;
}
.grid {
  display: grid;
  gap: 24px;
}
.section {
  padding-block: 80px 32px;
}
.header {
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}
.name_logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.name_logo:hover {
  color: var(--title-color);
}
.name_logo span {
  color: var(--first-color);
}
.nav-link.active {
  color: var(--first-color) !important;
}

.nav-link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: flex;
  justify-content: space-between;
}
.nav-link:hover {
  color: var(--first-color);
}

.home {
  background-color: var(--container-color);
}
.home_container,
.about_container {
  padding-top: 5px;
  row-gap: 40px;
}
.home_content {
  display: grid;
  row-gap: 32px;
}
.home_data,
.about_data {
  padding-top: 30px;
  text-align: center;
}

.home_role {
  font-size: var(--bigger-font-size);
}
.home_subtitle span,
.home_title,
.section_subtitle span,
.section_title span {
  color: var(--first-color);
}

.home_title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}
.home_description {
  margin: 20px 28px;
  color: #c8c8c8;
  font-size: 18px;
}
.about_description {
  color: #c8c8c8;
  font-size: 18px;
  margin-top: 20px;
  padding-top: 8px;
  margin-right: 20px;
  padding-left: 10px;
  justify-content: left;
}
.home_social {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.home_social-link {
  display: flex;
  background-color: var(--first-color);
  color: black;
  padding: 8px;
  font-size: 20px;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 13px 18px;
  border-radius: 10px;
  color: black;
  font-weight: var(--font-medium);
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}
.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, 0.25);
}
.about-image {
  justify-self: center;
  margin-top: 15px;
}
.img1 {
  border: 6px solid var(--first-color);
  border-radius: 50px;
}
.conf {
  background-color: var(--body-color) !important;
  border: none;
}

.devi {
  font-size: 60px;
}
.projects_container {
  justify-content: center;
}
.projects_card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #130a21;
}
.projects_image {
  width: 100%;
  height: 100%;
}
.projects_modal {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(var(--hue), 70%, 40%, 0.8) 120%
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom 0.4s;
}
.projects_button {
  color: var(--body-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: var(--font-medium);
}
.projects_title {
  font-size: 30px;
  margin-bottom: 12px;
  color: var(--body-color);
}
.projects_card:hover .projects_modal {
  bottom: 0;
}

.contact_container {
  padding-top: 55px;
  justify-content: center;
  text-align: center;
}
.about_description h4 {
  color: var(--first-color);
  margin-top: -18px;
}
h4:hover {
  text-decoration: underline;
}
.clink {
  color: var(--first-color);
  margin-top: -10px;
}
.open {
  color: var(--first-color);
}
.open:hover {
  text-decoration: underline;
}

.footer {
  background-color: #130a20;
  padding: 15px;
}
.footer_container {
  row-gap: 32px;
  text-align: center;
}
.footer_title {
  font-size: 24px;
  font-weight: var(--font-semi-bold);
  margin-bottom: 4px;
}
.footer_title span {
  color: var(--first-color);
}
.footer_role {
  font-size: 17px;
}
.footer_social {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.footer_social-link {
  display: flex;
  background-color: var(--first-color);
  margin-top: -20px;
  padding: 10px;
  color: black;
  font-size: 24px;
  clip-path: circle();
  transition: transform 0.4s;
}
.footer_social-link:hover {
  transform: translateY(-6px);
}
.footer_copy {
  font-size: 16px;
  margin-top: -10px;
  color: var(--title-color);
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .nav-link {
    padding: 0 15px 0 15px !important;
  }
  .rice {
    margin-top: 78px;
  }
}
::-webkit-scrollbar {
  width: 15px;
  border-radius: 8px;
  background-color: #1e1231;
}
::-webkit-scrollbar-thumb {
  background-color: #3b2a55;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4f3970;
}

@media (max-width: 768px) {
  .resp {
    padding-top: 6px !important;
  }

  .footer_copy {
    font-size: 15px;
  }
}
